@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(25, 25, 25);
  color: rgb(255, 255, 255);
  scroll-behavior: smooth;
}


.sticky-header {
  position: sticky;
  top: 0;
  z-index: 100;
}


header {
  background-color: black;
  transition: background-color 0.5s; 
}


.content {
  padding-top: 100px; 
}

.container1,
.container2,
.container3,
.container4,
.container5,
.container6,
.container7,
.container8,
.container9,
.container10,
.container11,
.container12,
.container13 {
  position: relative;
  padding-bottom: 4rem; 

  display: grid;
  grid-auto-flow: column; 
  grid-auto-columns: 45%; 
  grid-column-gap: 2rem; 

  overflow-x: scroll; 
  scroll-snap-type: mandatory; 
  scroll-padding: 2rem; 
  padding-inline: 6rem; 
}

.card {
  background-color: #1d1d1d; 
  height: 100%;
  overflow: hidden;

  border-radius: 10px; 

  display: grid; 
  justify-items: left; 
  align-items: left; 
  word-break: normal; 

  border-radius: 10px;
}

h3 {
  display: none;
}



.countdown {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  word-spacing: 0.75rem;
  padding-left: 2rem;
  padding-bottom: 1.5rem;
}

.media-container {
  position: relative;
}

.video-container {
  display: none; 
}

.card-image {
  display: block; 
}

.grid-heading {
  font-size: 1.5rem;
  padding-inline: 6rem;
  margin-bottom: 1rem;
  color: #919191;
}

.grid-heading-2 {
  font-weight: 700;
  font-size: 2.25rem;
  padding-inline: 6rem;
  margin-bottom: 0.5rem;
  color: rgb(176, 176, 176);
}

.release {
  white-space: nowrap;
  border-radius: 0px 0px 10px 0px;
  padding-inline: 2rem;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  background-color: #121212;
  z-index: 1; 
  position: absolute;
  word-break: normal;
  font-size: 1.5rem;
  font-weight: 100;
  color: white;
}

.card h2 {
  color: #919191;
  padding-left: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
  font-size: 1.25rem;
  justify-self: left;
  font-weight: 400;
}
.card p {
  font-size: 1.5rem;
}

img {
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  width: 100%;
  height: 300px; 
  object-fit: cover; 
}

li,
a,
button {
  font-weight: 500;
  font-size: 1rem;
  color: #edf0f1;
  text-decoration: none;
}

header {
  background-color: #1d1d1d;
  gap: 2rem;
  padding-top: 2rem;
  padding-inline: 6rem;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  font-size: 1.7rem;
  font-weight: bold;
  cursor: pointer;
  margin-right: auto;
}

.nav__links li {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-right: 2rem;
}

.nav__links li:nth-child(3) {
  margin-right: 0;
}

.nav__links li a {
  transition: all 0.3 ease 0s;
  font-size: 1rem;
}

.nav__links li a:hover {
  color: rgb(195, 45, 45);
}

button {
  padding: 0.75rem 1.5rem;
  background-color: rgb(46, 46, 46);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-size: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

button:hover {
  background-color: rgb(69, 69, 69);
}

.logoheader {
  width: 150px;
  display: flex;
}

.mainlogo {
  width: 157px;
  height: auto;
  display: flex;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-option {
  font-size: 1rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0; 
  justify-content: left;
  align-items: left;

  background: #282828;
  z-index: 1;
  width: 100%;
  border-radius: 0px 0px 5px 5px;
  padding: 1rem;
  gap: 1.5rem;
}

.dropdown.show .dropdown-content {
  display: flex; 
  flex-direction: column; 
}

.selected-option {
  background-color: rgb(
    130,
    130,
    130
  ); 
  color: black; 
  border-radius: 2.5px;
  padding: 0.25rem;
}

@media (max-width: 890px) {
  .container1,
  .container2,
  .container3,
  .container4,
  .container5,
  .container6,
  .container7,
  .container8,
  .container9,
  .container10,
  .container11,
  .container12,
  .container13 {
    grid-auto-columns: 90%;
  }

  .card p {
    font-size: 1.25rem;
  }

  header {
    padding-inline: 4rem;
  }

  .container1,
  .container2,
  .container3,
  .container4,
  .container5,
  .container6,
  .container7,
  .container8,
  .container9,
  .container10,
  .container11,
  .container12,
  .container13 {
    padding-inline: 4rem;
  }

  .grid-heading {
    padding-inline: 4rem;
  }

  .grid-heading-2 {
    padding-inline: 4rem;
    font-size: 2rem;
  }
}

@media (max-width: 826px) {
  
}

@media (max-width: 600px) {


  .card h2 {
    font-size: 0.75rem;
  }

  img {
    height: 200px;
  }


  .mainlogo {
    width: 100px;
  }

  .logo {
    font-size: 1.06rem;
  }

  .countdown {
    padding-left: 1.5rem;
  }

  .card h2 {
    padding-left: 1.5rem;
    padding-bottom: 0.5rem;
  }

  .release {
    padding-left: 1.5rem;
  }

  .dropdown {
    margin-right: auto;
  }


}

@media (max-width: 515px) {
  .nav__links li a {
    transition: all 0.3 ease 0s;
    font-size: 0.75rem;
  }

  .container1,
  .container2,
  .container3,
  .container4,
  .container5,
  .container6,
  .container7,
  .container8,
  .container9,
  .container10,
  .container11,
  .container12,
  .container13 {
    padding-inline: 2rem;
    grid-auto-columns: 90%; 
  }

  header {
    padding-inline: 2rem;
  }

  .grid-heading {
    padding-inline: 2rem;
    font-size: 1.25rem;
  }

  .grid-heading-2 {
    padding-inline: 2rem;
    font-size: 1.5rem;
  }

  .release {
    font-size: 1rem;
  }

 
}

@media (min-width: 2000px) {
  .container1,
  .container2,
  .container3,
  .container4,
  .container5,
  .container6,
  .container7,
  .container8,
  .container9,
  .container10,
  .container11,
  .container12,
  .container13 {
    grid-auto-columns: 25%; 
  }
}
